<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2" id="hours">
        
      </div>

      <div class="footer-col footer-col-3">
        <div class="title">Hours:</div>
        <table>
          <tr><td class="day">Monday:</td><td class="hours">6pm-8pm</td></tr>
          <tr><td class="day">Tuesday:</td><td class="hours">6pm-8pm</td></tr>
          <tr><td class="day">Thursday:</td><td class="hours">6pm-8pm</td></tr>
          <tr><td class="day">Friday:</td><td class="hours">6pm-9pm</td></tr>
        </table>
      </div>
    </div>

  </div>

</footer>
